/* cadastro.component.scss */
.cadastro-container {
  position: absolute;
    top: 68%;
    padding: 20px 33px;
    left: 25px;
    transform: translate(0%, -24%);
    border-radius: 35px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
    background-color: #FFFFFF;

}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.botao-cadastrar {
  width: 93%;
  background-color: #CCCCCC;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

}
.botao-cadastrar:hover {
  background-color: #274690; /* Cor ao passar o mouse */
}

.botao-cadastrar:disabled {
  background-color: #CCCCCC;
}

.error {
  color: red;
  font-size: 12px;
}
.celular-cadastro{
  margin-right: 3%;
  margin-left: 3%;
}
.titulo-cadastro{
  color:#274690 ;
  margin-right: 30px;
}
.celular {
  position: relative;
}

.chatbot-bolinha {
  position: fixed;
  bottom: 20px;
  right: 3px;
  background-color: #25d366; /* Cor verde típica do WhatsApp */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.chatbot-bolinha:hover {
  transform: scale(1.1);
}

.avatar-chatbot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.botao-iniciar {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;  /* Inicialmente invisível */
  position: absolute;
  bottom: 100%;  /* Coloca o tooltip acima da bolinha */
  left: 10%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);  /* Fundo do tooltip */
  color: #fff;  /* Cor do texto */
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;  /* Evita quebra de linha */
  opacity: 0;
  transition: opacity 0.3s ease;
}
.chatbot-bolinha:hover .tooltip {
  visibility: visible;
  opacity: 1;  /* Torna o tooltip visível */
}
