<header class="header-container">
   <!-- Câmera na parte superior -->
   <div class="camera"></div>
  <div class="titulo-sinais-vitais">
       <!-- Nome do usuário -->
       <div class="usuario-nome">
        <h2>{{ usuario.nome }}</h2>
      </div>
  </div>
  <div class="usuario-info">
    <!-- Foto/avatar do usuário -->
    <img [src]="usuario.fotoUrl" alt="Foto do Usuário" class="usuario-avatar" />


  </div>

  <!-- Indicador de Status de Saúde -->
   <div><p style="color:black; margin-bottom:0px;">Estado de Saúde</p>
    <div class="status-saude" [ngClass]="usuario.statusSaudeClass">

      {{ usuario.statusSaude }}

      </div>
  </div>




</header>
