/* header.component.scss */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;

}

.usuario-info {
  display: flex;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 5%;
}

.usuario-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.usuario-nome h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.status-saude {
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  height: 14px;

}

.status-estavel {
  background-color: #28a745;
  padding-bottom: 6px;
  height: 30px;
}

.status-atenção {
  background-color: #ffc107;  /* Cor amarela para saúde precisa de atenção */
}

.status-critico {
  background-color: #dc3545;  /* Cor vermelha para saúde crítica */
}
.titulo-sinais-vitais{
  position: absolute;
  margin-top: 26%;
}
.camera {
  width: 65px;
    height: 20px;
    background-color: #000000;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
