.celular {
  width: 300px;
  height: 600px;
  background-color: #f8dfdf;;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.botao {
  width: 60px;
  height: 10px;
  background-color: #c7c4c2;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.botao-voltar-rota{
  background-color: #ec5215;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 10px;
  font-weight: bold;
  cursor: pointer;
  // margin-top: 140px;
  margin-left: 20px;
  width: 60px;
  bottom: 20px;
  margin-top: 66px;
  position: absolute;
}
.titulo-historico{
  color:#ec5215 ;
  margin-left: 30%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.stilo-accordion{

}
