.accordion {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10%;
}

.accordion-item {

  margin: 15px 0;
  margin-left: 27px;
  top: 68%;
  left: 50%;
  width: 82%;
  border-radius: 9px;

}

.accordion-header {
  padding: 4px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border-radius: 35px
}



.accordion-content {
  display: none;
  padding: 15px;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}


.accordion-content.active {
  display: block;
  max-height: 8%;
  padding: 0px;
  border-radius: 35px;
}

/* Estilos para os links de download */
.accordion-content a {
  color: #274690;
  text-decoration: none;
}

.accordion-content a:hover {
  text-decoration: underline;
}
.texto-detalhes{
  text-align: center!important;
  margin: 2%!important;
  font-weight: bold!important;
  color: #0836a1!important;
}

.color-test-header{
  color: #274690;
}
