<div class="celular">
  <!-- Câmera na parte superior -->
  <div class="camera"></div>
  <h4 class="titulo-alerta">Alertas e Notificações</h4>

  <div class="alertas-container">
    <!-- Filtros -->
    <div class="filtros">
      <label for="filtro">Filtrar Alertas:</label>
      <select id="filtro" [(ngModel)]="filtros">
        <option *ngFor="let tipo of tiposDeAlertas" [value]="tipo">{{ tipo | uppercase }}</option>
      </select>
    </div>

    <!-- Acordeão com os alertas -->
    <div class="acoordion">
      <div *ngFor="let alerta of filtrarAlertas(); let i = index" class="accordion-item">
        <!-- Cabeçalho do Acordeão -->
        <div class="accordion-header"
          [ngClass]="getCorAlerta(alerta)"
          (click)="toggleAccordion(i)">
          <div class="alerta-conteudo">
            <p><strong class="alerta-paragrafo">{{ alerta.data }}</strong></p>
          </div>
        </div>

        <!-- Corpo do Acordeão -->
        <div [ngClass]="{'accordion-content': true, 'active': isActive(i)}">
          <div *ngIf="isActive(i)" >
            <div class="acoes">
              <p>{{ alerta.mensagem }}</p>
              <button *ngIf="!alerta.lido" (click)="marcarComoLido(alerta)" class="btn-lido">Marcar como Lido</button>
              <button *ngIf="!alerta.lido" (click)="removerAlerta(alerta)" class="btn-remover">Remover</button>

              <!-- Ação Imediata para Emergências -->
              <button *ngIf="alerta.tipo === 'emergencia'" (click)="acionarAcaoImediata()" class="btn-urgente">Chamar um Médico</button>
            </div>
          </div>
        </div>

      </div>
    </div>



  </div>
   <!-- Botão de Voltar -->
   <button class="botao-voltar-rota" (click)="goBackToHome()">Voltar</button>

   <footer><div class="botao"></div></footer>
</div>
