


/* Estilos para centralizar a imagem e o celular */
:host {
  display: block;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

/* Estilo do contêiner do celular */
.celular {
  width: 300px;
  height: 600px;
  background-color: #FFA07A;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.botao {
  width: 60px;
  height: 10px;
  background-color: #c7c4c2;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.tela {
  width: 100%;
  height: 300px;
  background-image: url('../../assets/images/principal6.jpg');
  background-size: cover;         /* A imagem cobre toda a área da div */
  background-position: right;    /* A imagem é centralizada */
  background-repeat: no-repeat;   /* Impede a repetição da imagem */
  border-radius: 20px;            /* Bordas arredondadas */
  margin-bottom: 40px;            /* Espaço entre as caixas */
  /* Para adicionar transparência ao fundo */
  position: relative;
}

.tela::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);  /* Camada de cor branca com opacidade 0.5 */
  border-radius: 20px;  /* Mantém as bordas arredondadas */
  pointer-events: none; /* Garante que o conteúdo dentro da div seja clicável */

}
.button-rota{
  background-color: #FFA07A; /* Cor salmão */
  color: white;              /* Cor do texto (branco) */
  border: none;              /* Remove borda padrão */
  border-radius: 25px;       /* Bordas arredondadas */
  padding: 10px 20px;        /* Espaçamento interno */
  font-size: 16px;           /* Tamanho da fonte */
  font-weight: bold;         /* Texto em negrito */
  cursor: pointer;
  align-self: flex-end;      /* Mudança do cursor ao passar sobre o botão */
  transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}

/* Efeito ao passar o mouse sobre o botão */
.botao-voltar-rota:hover {
  background-color: #ff5733; /* Cor mais escura para o efeito hover */
}
/* Estilo do contêiner do celular */
.celular {
  width: 300px;
  height: 600px;
  background-color: #274690;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.logo{
  font-family: "jester", sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 2px;
  padding-left: 12px;
}
.camera {
  width: 65px;
    height: 20px;
    background-color: #000000;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}

.botao-iniciar{
  margin-left: 3%;
  margin-top: 68%;
  background-color: #274690;
  color: white;              /* Cor do texto (branco) */
  border: none;              /* Remove borda padrão */
  border-radius: 25px;       /* Bordas arredondadas */
  padding: 10px 29px 8px;        /* Espaçamento interno */
  font-size: 16px;           /* Tamanho da fonte */
  font-weight: bold;         /* Texto em negrito */
  cursor: pointer;
  align-self: flex-end;      /* Mudança do cursor ao passar sobre o botão */
  position: relative;
  z-index: 10;
}
.botao-iniciar:hover {
  background-color: #829fe4; /* Cor mais escura para o efeito hover */
}

.estilo-cadastro{
  position: relative;
  z-index: 10;
}
