
<!-- Contêiner do celular -->
<div class="celular ">

  <div class="tela" >
    <!-- <app-imagens ></app-imagens> -->
  </div>
  <!-- Outras caixas distribuídas abaixo -->

  <div class="circle-container">
    <div class="circle"[routerLink]="['/monitoramento']">Monitoramento</div>
    <div class="circle"[routerLink]="['/alertas']">Alertas</div>
    <div class="circle"[routerLink]="['/historico-de-saude']">Historico de Saúde</div>
  </div>

  <button class="botao-voltar-rota" (click)="goBackToHome()">Voltar </button>

  <!-- Botão Home -->
   <footer><div class="botao"></div></footer>

</div>

